<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-	scale = 1">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="webStyle.css">
	<link href="style.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>Dashboard</title>
	<script>
		function checkFile()
		{
			if(document.getElementById("pictureFileUpload").files.length == 0)
				return false;
			return true;
		}
    </script>
</head>
<body>
<div>
	<li><a data-toggle="pill" href="/">Strona Główna </a></li>
	<li><a data-toggle="pill" href="/modified">Zdjęcia po modyfikacji </a></li>
</div>
	
<div class="container-fluid content" >
	<div class="row">
		<div class="col-md-2 container-fluid"  role="navigation" id = "sidebar">
			<div class="panel panel-default">
				<div class="panel-heading" id="headingMain">
					<h2>Załaduj zdjęcia</h2>
				</div>
				<div class="panel-body"  > 
					<form action="https://<%=bucket%>.s3.amazonaws.com/" method="POST" id="sign-up-form"
						 enctype="multipart/form-data" target="_blank" onsubmit="return checkFile()">
						<% fields.forEach(function(elem){ %>
							<input type="hidden" name="<%= elem.name  %>" value="<%=elem.value %>"/>
						<%}); %>
						<div class="form-group input-group-lg">
						<label for="email">pliki</label>
						<input type="file" id="pictureFileUpload" name="file" accept="image/*">
						</div>
						<input type="submit" value="Submit" class="btn btn-default btn-block btn btn-success" name="submit_btn" value="Send">
					</form>				
				</div>
			</div>
		</div> 		
		<div class = "col-md-10 main tab-content" >
			<div id="home" class="tab-pane fade in active">		
				<h1 class="page-header"><strong>Zdjęcia przerobione</strong></h1>
				<div class="row">
					<div class = "col-sm-12">
						<div class="panel panel-default panel-horizontal text-center">
							<div class="panel-body" >
							<!-- Body 1 panela -->
								<% images.forEach(function(image){ %>
									<a href="<%= image.link %>">
										<img src="<%= image.link %>" class="img-medium img-thumbnail">
									</a>
								<% }) %>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>		
</div>
</body>
</html>